<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">TCinema</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" ><a [routerLink]="['/profile']">Profile</a></li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" ><a [routerLink]="['/register']">Register</a></li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" ><a [routerLink]="['/login']">Login</a></li>
          <li *ngIf="authService.loggedIn()" > <a (click)="onLogoutClick()" href="#" >Logout</a></li>
        </ul>
    </div>
  </div>
</nav>
