<div class="container">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th class="col-xs-3 text-center" scope="col"> Name </th>
        <th class="col-xs-9 text-center" scope="col">Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies | paginate: {itemsPerPage: 1, currentPage: p}">
        <th class="text-center" scope="row">{{movie.name}}</th>
        <td>{{movie.aboutMovie}}</td>
      </tr>
      </tbody>
  </table>
  <pagination-controls class="align-center" (pageChange)="p = $event"></pagination-controls></div>
