html {
    background-color: rgba(86, 235, 255, 0.371) !important;
}
body {
    background-color: rgba(86, 235, 255, 0.371) !important;
}
.removeButton:hover {
    background-color: red !important;
}
#movie {

    background-color: rgba(10, 194, 132, 0.371);
	-webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
    box-shadow: 0 7px 4px #777;
}
#room {

    background-color: rgba(10, 173, 194, 0.371);
	-webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
    box-shadow: 0 7px 4px #777;
}
#seance {
    position: relative;
    background-color: rgba(10, 194, 132, 0.371);
	-webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
    box-shadow: 0 7px 4px #777;
    margin-bottom: 30px;
}

.pad-top {
    margin-top: 30px;
}
.tablediv {
    padding-top: 1px;
}
.container {
    margin-top: 40px;
    background-color: rgba(49, 49, 49, 0.6);
}
.btn-def {
    margin-bottom: 25px;
    width: 100%;
}